#button1 {
  /*display: block;*/
  /*background-color:aqua;*/
  /*color: black;*/
/*  
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 200px;
  width: 200px;*/
}
#button2 {
  /*background-color: aqua;
  color: black;
  
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}*/
/*#button3 {*/
  /*background-color: aqua;
  color: black;
  
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;*/
}